body{
  background-color: #02010a;
  font-family: "Dancing Script";
  animation: slidein 2s;
}
@-webkit-keyframes slidein{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}
header{
    background-color: #5b7989;
    text-align: left;
    box-shadow: 4px 8px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 100px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0;
}
header h1 {
  text-shadow: 2px 2px #02010a;
  color: white;
  float: left;
  margin: 3px;
  margin-top: 20px;
  margin-left: 30px;
}
#menu-principal{
	float: right;
}
#menu-principal a {
	color: white;
	text-decoration: underline;
}
#menu-principal li{
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 40px;
}
#principal{
  margin-left: 40px;
  margin-right: 40px;
  background-color:  #82c3a6;
  padding: 20px;
    text-align: center;
}
#principal img{
  width: 80%;
}
.container{
    background-color: #d5c75f;
    margin-left: 40px;
    margin-right: 40px;
}
.imgSecundarias{
    text-align: center;
    display: -webkit-flex;
	  display: flex;
    -webkit-flex-flow: row;
    flex-direction: row;
    padding:50px 0 40px 0;
}
.c1, .c2{
    height: 80%;
    width: 80%;
}
.col1, .col2{
    width: 100%;
}
@media screen and (max-width: 450px){
  .imgSecundarias{
    flex-direction: column;
  }
  header{
    height: 120px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  header h1{
    font-size: 20px;
  }
  p a{
    text-decoration: underline;
    color: black;
  }
  #menu-principal li{
      display: inline-block;
      margin: 0;
      font-size: 12px;
      padding: 10px;
  }
  #principal{
    margin-left: 0px;
    margin-right: 0px;
  }
  .container{
    margin-left: 0px;
    margin-right: 0px;
  }
}
.c1{
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
.c1:hover{
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.c2{
	transition-property: margin-left;
	transition-duration: 1s;
}
.c2:hover{
	margin-left: 30px;
}
